{% extends 'layout.html.twig' %}

{% block title %}MusicQuiz
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('index') }}
{% endblock %}

{% block body %}
<main>
<section class="my-5">
<div class="container testingColor">
<h1 class="text-center">MusicQuiz</h1>
</div>

</section>

</main>
{% endblock %}
